/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Roboto", "Times New Roman", Times, serif;
}

/* MOBILE VIEW */

/* Top header */
#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 0;
  font-family: Montserrat;
}

.siteName {
  grid-column: 1/2;
  justify-self: start;
  font-size: 2rem;
}

.siteName a {
  text-decoration: none;
  color: #100333;
}

#tools {
  grid-column: 2/3;
  justify-self: end;
}

#tools a {
  text-decoration: none;
  color: #100333;
}

/* Navigation */
nav {
  background-color: #232023;
  font-size: 1rem;
  color: aliceblue;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
}

.navigation li {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-family: Montserrat;
}

/* Hero */
.hero {
  position: relative;
  width: 100vw;
  max-width: 1000px;
  margin: 2rem auto;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.features {
  position: absolute;
  top: 15%;
  left: 5%;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.features h2 {
  color: rgb(1, 121, 111);
  margin-bottom: 0.5rem;
}

.features ul {
  margin: 0;
  padding: 0;
}

.features li {
  list-style: none;
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
  color: rgb(1, 121, 111);
}

.features button {
  margin-top: 0.8rem;
  background-color: rgb(1, 121, 111);
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.features button:hover {
  background-color: rgb(1, 121, 111);
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.ratings ul {
  padding: 1rem;
  margin-top: -1rem;
}

.ratings li {
  margin-bottom: 1rem;
}

h1,
h2 {
  font-family: Montserrat;
}

#upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 95%;
}

h1,
h2 {
  font-family: Montserrat, Arial, sans-serif;
}

#upgrades h2 {
  grid-column: 1 / -1;
  margin: 0 0 0.5rem 0;
}

#upgrades figure {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#upgrades figure > img {
  display: block;
  width: auto;
  height: 90px;
  object-fit: contain;
  background-color: rgb(1, 121, 111);
  padding: 1rem 3.3rem;
  border-radius: 4px;
}

#upgrades figure figcaption {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  text-decoration: underline;
  text-align: center;
  color: #1a0dab;
}

footer {
  margin-top: 30px;
}

/* TABLET AND DESKTOP VIEW */
@media (min-width: 768px) {
  .features {
    top: 20%;
    left: 5%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .ratings {
    grid-column: 2/ -1;
    grid-row: auto;
    margin: 0 1rem;
  }

  #upgrades {
    grid-column: 1 / 2;
    grid-row: 1/2;
    margin: 0 1rem;
  }

  #upgrades figure > img {
    padding: 12px 3rem;
  }

  h1 {
    padding: 0 1rem;
  }

  footer {
    padding: 0 1rem;
  }

  #upgrades h2 {
    margin-top: 2rem;
  }
}
