

    <div class="inv-management">
        <h1><%= title %></h1>

        <div class="management-intro"></div>
        <p>Welcome to the Inventory Management system. Choose an action below:</p>

        <ul class="inv-management-links">
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Inventory</a></li>
        </ul>
    </div>

    