<%- nav %>

    <div class="error404">
        <h1>
            <%= title || '404 - Page Not Found' %>
        </h1>
        <p class="notice">
            <%= message || 'Sorry — the requested page could not be found.' %>
        </p>
    </div>